<!DOCTYPE html>
<html>
<head>
<title>Main</title>
</head>
{{> header}}
<body>

<h1>NASA gallery</h1>
<a href="./gallery">gallery</a>
<h1>Display Nasa Image</h1>
<input type="submit" name="display">


</body>
{{> footer}}
</html>